 .footer {
    background-color: rgb(42, 42, 42);
    text-align: center;
    padding: 20px;
    margin-top: 50px;

    font-size: 14px;
    color: #dddcdc;

    box-shadow: 0 -5px 20px rgba(0,0,0,0.1);
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

 .email {
    width: 75px;
    height: 75px;
    align-content: center;
    position: relative;
    margin: 40px auto;
    display: block;
    cursor: pointer;
    transition: 0.3s;
}

 .email:hover {
    transform: scale(1.2);
    opacity: 0.8;
    filter: drop-shadow(0 0 8px rgba(222, 157, 221, 0.6));
}

 a:hover .email {
    transform: scale(1.2);
}

body {
    font-family: Bricolage Grotesque;
    background-color: #5c4368;
    color: #ffffff;
    margin: 0;
    padding: 20px;
}

 .header {
    width: calc(100% - 40px);
    height: 250px;
    
    background-image: url("https://i.pinimg.com/736x/0e/b9/0a/0eb90af9fffc137f8a9a70681c4a05d9.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 20px; 
    overflow: hidden;

    margin-bottom: 20px;
}

 h1 {
    text-align: center;
    font-family: "Notable", sans-serif;
    color: #000000;
}

 p {
    font-family: Bricolage Grotesque;
    text-align: justify;
    color: #dcdcdc;
}

 .logo {
    width: 260px;
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.7));
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 5px 15px rgba(0,0,0,0.5));
}

 .header {
    position: relative;
}

.font-box{
    position:absolute;
    bottom:9px;
    right:20px;
}

.font-icon{
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: 0.3s;
}

.font-icon:hover{
    transform:scale(1.15);
}

.uvecan-font{
    font-size: 18px;
}

.uvecan-font h1{
    font-size: 48px;
}

.uvecan-font p{
    font-size: 20px;
}

.uvecan-font a{
    font-size: 18px;
}

.uvecan-font button{
    font-size: 18px;
}

.theme-icons {
    position: absolute;
    bottom: 15px;
    right: 85px;

    display: flex;
    align-items: center;
    gap: 10px;
}

.tamna-tema{
    width: 28px;
    cursor: pointer;
    transition: 0.3s;
}

.tamna-tema:hover{
    transform: scale(1.15);
}

 section {
    background: #343335;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 50px;
    width: 50%;
}

 .intro {
    position: relative;

    width: 90%;
    height: 300px;
    margin: 20px auto;

    background-image: url("https://i.pinimg.com/736x/e4/a4/f9/e4a4f93f09dcb8ea4f82cf15561ae504.jpg");
    background-size: cover;
    background-position: center;

    border-radius: 20px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}


.intro-tekst {
    font-family: "Notable", sans-serif;
    font-size: 36px; 
    color: black;
    font-weight: bold;

    position: relative;
    z-index: 1;

    text-shadow: 0 4px 15px rgba(255, 255, 255, 0.8); 

    transition: 0.3s;
}

.intro-overlay {
    position: absolute;
    inset: 0;

    background: rgba(255, 255, 255, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(5px);

    opacity: 0;
    transition: 0.4s;

    z-index: 2;
}

.intro-content p {
    color: black;
}


.intro-content {
    text-align: center;
    color: black;
    font-family: "Notable", sans-serif;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.4s;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.intro:hover .intro-overlay {
    opacity: 1;
}

.intro:hover .intro-tekst {
    opacity: 0;
}

.intro:hover .intro-content {
    transform: translateY(0);
    opacity: 1;
}

 .shop-dugme {
    display: inline-block;
    margin-top: 15px;

    padding: 10px 20px;
    border-radius: 25px;

    background: black;
    color: #cecece;
    text-decoration: none;

    font-family: "Notable", sans-serif;
    font-size: 14px;

    transition: 0.3s;
}

.shop-dugme:hover {
    background: #5c4368;
    color: rgb(0, 0, 0);
    transform: scale(1.05);
}

 .navbar {
    width: 90%;
    margin: 0 auto 20px auto;
    background-color: #000000;
    
    font-family: "Notable", sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    color: #5c4368;

    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;

    margin: 0;
    padding: 15px 0;
}

 .navbar a {
    text-decoration: none;
    color: #dbdbdb;
    font-weight: bold;

    transition: 0.3s;
}
 .navbar a:hover {
    color: #a269cb;}

.navbar a {
    position: relative;
}

.navbar a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #5c4368;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

 .navbar a:hover::after {
    width: 100%;
}

 .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 20px;
}

.product-section{
    display:flex;
    gap:60px;
    align-items:center;
    justify-content:center;

    background:#1f1f1f;
    color:white;
    padding:40px;
    border-radius:25px;

    box-shadow:0 0 20px rgba(0,0,0,0.1);

    width:90%;
    max-width:1200px;

    margin:50px auto;
}

.product-card {
    border: 1px solid #3d3d3d;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background: black;
}

 .slider {
    position: relative;
}

.slide {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 8px;
    transition: 0.3s;
}

 .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.5);
    color: black;
    border: none;
    padding: 8px;
    cursor: pointer;
}

 .prev { left: 5px; }
 .next { right: 5px; }

.order-btn {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background: white;
    color: black;
    border: none;
    cursor: pointer;
}

.o-nama {
    color: #dedede;
    text-align: justify;
    text-align: center;
    font-size: large;
    width: 50%;
    margin: 0% auto;
}

.pecat {
    width: 75px;
    height: 75px;
    align-content: center;
    position: relative;
    margin: 40px auto;
    display: block;
}

.instagram {
    width: 75px;
    height: 75px;
    align-content: center;
    position: relative;
    margin: 40px auto;
    display: block;
    cursor: pointer;
    transition: 0.3s;
}

.instagram:hover {
    transform: scale(1.2);
    opacity: 0.8;
    filter: drop-shadow(0 0 8px rgba(227, 139, 225, 0.6));
}

a:hover .instagram {
    transform: scale(1.2);
}

.tiktok {
    width: 100px;
    height: 120px;
    align-content: center;
    position: relative;
    margin: 40px auto;
    display: block;
    cursor: pointer;
    transition: 0.3s;
}

.tiktok:hover {
    transform: scale(1.2);
    opacity: 0.8;
    filter: drop-shadow(0 0 8px rgba(235, 143, 233, 0.6));
}

a:hover .tiktok {
    transform: scale(1.2);
}

.broj {
    width: 75px;
    height: 75px;
    align-content: center;
    position: relative;
    margin: 40px auto;
    display: block;
    cursor: pointer;
    transition: 0.3s;
}

.broj:hover {
    transform: scale(1.2);
    opacity: 0.8;
    filter: drop-shadow(0 0 8px rgba(224, 151, 223, 0.6));
}

a:hover .broj {
    transform: scale(1.2);
}

.potpis {
    width: 250px;
    height: 125px;
    position: relative;
    left: 750px;
    bottom: 125px;
    display: flex;
}


.mapa-sekcija iframe{
    display:block;
    margin:0 auto;
    border-radius:20px;
}

.mapa-sekcija{
    text-align:center;
    margin-top:40px;
}

.hamburger{
    display:none;
    font-size:35px;
    text-align:center;
    cursor:pointer;
    color:white;
    margin:15px 0;
}

@media (max-width:768px){
    .potpis{
        position:static;
        width:180px;
        height:auto;
        margin:20px auto;
    }
    .products{
        grid-template-columns:1fr;
    }

    .navbar ul{
        flex-direction:column;
        align-items:center;
        gap:10px;
    }

    .navbar{
    display:none;
}
    .navbar.prikazi{
    display:block;
    width:90%;
    margin:0 auto 20px auto;
}

    .intro{
        height:250px;
    }

    .intro-tekst{
        font-size:28px;
    }

    .o-nama{
        width:90%;
    }

    .product-section{
        flex-direction:column;
    }

    #product-image{
        width:100%;
        height:auto;
    }

    .header{
        padding:10px;
        min-height:auto;
        height:170px;
    }

    .logo{
        width:180px;
        max-width:70%;
    }

    .font-icon{
        width:30px;
        height:30px;
    }

    .tamna-tema{
        width:30px;
        height:30px;
    }

.theme-icons{
    bottom:15px;
    right:15px;
    top:auto;
}
.font-box{
    bottom:12px;
    right:60px;
    top:auto;
}
    .hamburger{
    display:block;
}

}
